<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img nutProfile" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources flexrow">
        <h3 for="system.health.value" class="resource-label">HP</h3>
      </div>
      <div class="resources flexrow">
        {{#times system.health.value}}
            <img class="health" src="systems/nuts/assets/acorn_health.png" title="health" />
        {{/times}}
        <img class="moreHealth" src="systems/nuts/assets/acorn_empty_plus.png" title="empty health" />
      </div>
       <div class="resources flexrow">
        <h3 for="system.challengeDice.value" class="resource-label">Challenge Dice</h3>
      </div>
      <div class="resources flexrow">
        {{#times system.challengeDice.value}}
            <img class="challengeDice" src="systems/nuts/assets/acorn_challenge.png" title="Challenge Dice" />
        {{/times}}
        <img class="moreChallengeDice" src="systems/nuts/assets/acorn_empty_plus.png" title="empty Challenge Dice" />
      </div>
    </div>
  </header>
  <div class="rollButtons">
      <a class="rollBtn" data-roll-type="cd" data-title="Challenge Roll" data-challenge-dice="{{actor.challengeDice.value}}">Challenge Roll</a>
      <a class="rollBtn" data-roll-type="cd" data-title="Challenge Roll" data-challenge-dice="{{actor.challengeDice.value}}">Challenge Roll  <img class="cdsBtnIcon" src="systems/nuts/assets/attack_white.png"/></a>
      <a class="rollBtn" data-roll-type="cd" data-title="Challenge Roll" data-challenge-dice="{{actor.challengeDice.value}}">Challenge Roll  <img class="cdsBtnIcon" src="systems/nuts/assets/defense_white.png"/></a>
  </div>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="nut">NUTS</a>
    <a class="item" data-tab="items">Items</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="nut">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      <div class="flexrow">
        <div class="aside">
        <ol class='items-list'>
          <li class='item flexrow items-header'>
            <div class='item-name'>{{localize 'Name'}}</div>
            <div class="item-prop">Level</div>
          </li>
          <li class='item flexrow' data-item-id='{{item._id}}'>
              <div class='item-name'>{{localize 'NUTS.Shells.hardHitting'}}</div>
                <div class="item-prop">
                  <select name="hardHitting" data-shell="hardHitting" class="shellSelect">{{selectOptions system.shellLevels selected=system.hardHitting}}</select>
                </div>
          </li>
           <li class='item flexrow' data-item-id='{{item._id}}'>
              <div class='item-name'>{{localize 'NUTS.Shells.defensive'}}</div>
                <div class="item-prop">
                  <select name="defensive" data-shell="defensive" class="shellSelect">{{selectOptions system.shellLevels selected=system.defensive}}</select>
                </div>
          </li>
           <li class='item flexrow' data-item-id='{{item._id}}'>
              <div class='item-name'>{{localize 'NUTS.Shells.comboMaker'}}</div>
                <div class="item-prop">
                  <select name="comboMaker" data-shell="comboMaker" class="shellSelect">{{selectOptions system.shellLevels selected=system.comboMaker}}</select>
                </div>
          </li>
           <li class='item flexrow' data-item-id='{{item._id}}'>
              <div class='item-name'>{{localize 'NUTS.Shells.surge'}}</div>
                <div class="item-prop">
                  <select name="surge" data-shell="surge" class="shellSelect">{{selectOptions system.shellLevels selected=system.surge}}</select>
                </div>
          </li>
           <li class='item flexrow' data-item-id='{{item._id}}'>
              <div class='item-name'>{{localize 'NUTS.Shells.protection'}}</div>
                <div class="item-prop">
                  <select name="protection" data-shell="protection" class="shellSelect">{{selectOptions system.shellLevels selected=system.protection}}</select>
                </div>
          </li>
           <li class='item flexrow' data-item-id='{{item._id}}'>
              <div class='item-name'>{{localize 'NUTS.Shells.itemEater'}}</div>
                <div class="item-prop">
                  <select name="itemEater" data-shell="itemEater" class="shellSelect">{{selectOptions system.shellLevels selected=system.itemEater}}</select>
                </div>
          </li>
           <li class='item flexrow' data-item-id='{{item._id}}'>
              <div class='item-name'>{{localize 'NUTS.Shells.crafter'}}</div>
                <div class="item-prop">
                 <select name="crafter" data-shell="crafter" class="shellSelect">{{selectOptions system.shellLevels selected=system.crafter}}</select>
                </div>
          </li>
           <li class='item flexrow' data-item-id='{{item._id}}'>
              <div class='item-name'>{{localize 'NUTS.Shells.durability'}}</div>
                <div class="item-prop">
                  <select name="durability" data-shell="durability" class="shellSelect">{{selectOptions system.shellLevels selected=system.durability}}</select>
                </div>
          </li>
           <li class='item flexrow' data-item-id='{{item._id}}'>
              <div class='item-name'>{{localize 'NUTS.Shells.endurance'}}</div>
                <div class="item-prop">
                  <select name="endurance" data-shell="endurance" class="shellSelect">{{selectOptions system.shellLevels selected=system.endurance}}</select>
                </div>
          </li>
          <li class='item flexrow' data-item-id='{{item._id}}'>
              <div class='item-name'>{{localize 'NUTS.Shells.lucky'}}</div>
                <div class="item-prop">
                  <select name="lucky" data-shell="lucky" class="shellSelect">{{selectOptions system.shellLevels selected=system.lucky}}</select>
                </div>
          </li>
        </ol>
        <img class="logo" src="systems/nuts/assets/logo.png" title="Logo" />
        </div>
        <div class="nutDetails">

            <h1>Nature</h1>
            {{editor enrichedNature target="system.nature" engine="prosemirror" button=true editable=editable}}
          <h1>Utility</h1>
          {{editor enrichedUtility target="system.utility" engine="prosemirror" button=true editable=editable}}
          <h1>Tale</h1>
          {{editor enrichedTale target="system.tale" engine="prosemirror" button=true editable=editable}}
        </div>

      </div>
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/nuts/templates/actor/parts/actor-items.hbs"}}
    </div>
  </section>
</form>