<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
    <div class="flexcol">
        <h1>{{newTitle}}</h1>
        <div class="flexcol">
            <h3>You choose this man challenge dice {{dice}}</h3>
            <div class="resources flexrow">
                {{#times challengeDice}}
                    <img class="challengeDice" src="systems/nuts/assets/acorn_challenge.png" title="Challenge Dice" />
                {{/times}}
                {{#times dice}}
                    <img class="giveBackChallengeDice" src="systems/nuts/assets/acorn_empty.png" title="Challenge Dice" />
                {{/times}}
            </div>
        </div>
        <div class="flexcol">
            <h3>Detriments</h3>
            <div class="resources flexrow">
                {{#times detriment}}
                    <img class="removeDetriment" src="systems/nuts/assets/detriment.png" title="Challenge Dice" />
                {{/times}}
                    <img class="addDetriment" src="systems/nuts/assets/detrimentAdd.png" title="Challenge Dice" />
            </div>
        </div>
        <div class="flexcol">
            <h3>Benefits</h3>
            <div class="resources flexrow">
                {{#times benefit}}
                    <img class="removeBenefit" src="systems/nuts/assets/benefit.png" title="Challenge Dice" />
                {{/times}}
                    <img class="addBenefit" src="systems/nuts/assets/plusBenefit.png" title="Challenge Dice" />
            </div>
        </div>
        <div class="item-prop">
        <label>Target Number for the Roll</label>
        <select name="targetNumber" class="targetSelect">{{selectOptions this.actor.system.targets selected=this.actor.system.target}}</select>
        </div>
        {{#if (detrimentsOverCD detriment dice benefit)}}
            <a class="rollBtn" data-target="{{this.actor.system.target}}">Roll</a>
            {{!-- <div>
                {{#if (checkValueOverZero this.actor.system.hardHitting)}}
                    <div><a class="shellBtn" data-shell="hardHitting" data-target="{{this.actor.system.target}}">Use Hard Hitting</a></div>
                {{/if}}
                {{#if (checkValueOverZero this.actor.system.defensive)}}
                    <div><a class="shellBtn" data-shell="defensive" data-target="{{this.actor.system.target}}">Use Defensive</a></div>
                {{/if}}
                {{#if (checkValueOverZero this.actor.system.comboMaker)}}
                    <div><a class="shellBtn" data-shell="comboMaker" data-target="{{this.actor.system.target}}">Use Combo Maker</a></div>
                {{/if}}
                {{#if (checkValueOverZero this.actor.system.surge)}}
                    <div><a class="shellBtn" data-shell="surge" data-target="{{this.actor.system.target}}">Use Surge</a></div>
                {{/if}}
                {{#if (checkValueOverZero this.actor.system.protection)}}
                    <div><a class="shellBtn" data-shell="protection" data-target="{{this.actor.system.target}}">Use Protection</a></div>
                {{/if}}
                {{#if (checkValueOverZero this.actor.system.itemEater)}}
                    <div><a class="shellBtn" data-shell="itemEater" data-target="{{this.actor.system.target}}">Use Item Eater</a></div>
                {{/if}}
                {{#if (checkValueOverZero this.actor.system.crafter)}}
                    <div><a class="shellBtn" data-shell="crafter" data-target="{{this.actor.system.target}}">Use Crafter</a></div>
                {{/if}}
                {{#if (checkValueOverZero this.actor.system.durability)}}
                    <div><a class="shellBtn" data-shell="durability" data-target="{{this.actor.system.target}}">Use Durability</a></div>
                {{/if}}
                {{#if (checkValueOverZero this.actor.system.endurance)}}
                    <div><a class="shellBtn" data-shell="endurance" data-target="{{this.actor.system.target}}">Use Endurance</a></div>
                {{/if}}
                {{#if (checkValueOverZero this.actor.system.lucky)}}
                    <div><a class="shellBtn" data-shell="lucky" data-target="{{this.actor.system.target}}">Use Lucky</a></div>
                {{/if}}
            </div> --}}
        {{/if}}
    </div>
</form>